@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Calistoga&family=Josefin+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  color: #202020;
  user-select: none;
}

.logo {
  font-family: "Bagel Fat One", cursive;
  font-family: "Calistoga", cursive;
}

.icon {
  /* fill: #fff; */
  font-size: 15px;
}
